@media(max-width:348px){
    .herosmall{
        margin-top:10em !important;
    }
    h1{
        font-size:2.3em !important; 
    }
    .socialrow{
        margin-top:0px !important;
    }
    .model{
        width:310px !important;
        top: 53% !important; /* Position Y halfway in */
    left: 50% !important; /* Position X halfway in */
    transform: translate(-50%,-50%) !important; /* Move it halfway back(x,y) */
    }
    h5{
        margin-top:0.5em !important;
        max-width: 100% !important;
    }
    .dwcv{
        margin-top:13em !important;
    }
    .hero{
        margin-right:0px !important;
    }
    .marg{
        margin-left:0px !important;
    }
}
@media(max-width:375px) and (min-width:349px){
    .herosmall{
        margin-top:10em !important;
    }
    h1{
        font-size:2.5em !important; 
    }
    .socialrow{
        margin-top:0px !important;
    }
    .model{
        width:330px !important;
        top: 53% !important; /* Position Y halfway in */
    left: 50% !important; /* Position X halfway in */
    transform: translate(-50%,-50%) !important; /* Move it halfway back(x,y) */
    }
    h5{
        margin-top:0.5em !important;
        max-width: 100% !important;
    }
    .dwcv{
        margin-top:15em !important;
    }
    .hero{
        margin-right:0px !important;
    }
    .marg{
        margin-left:0px !important;
    }
}
@media(max-width:415px) and (min-width:376px){
    .herosmall{
        margin-top:10em !important;
    }
    h1{
        font-size:2.7em !important; 
    }
    .socialrow{
        margin-top:0px !important;
    }
    .model{
        width:330px !important;
        top: 53% !important; /* Position Y halfway in */
    left: 50% !important; /* Position X halfway in */
    transform: translate(-50%,-50%) !important; /* Move it halfway back(x,y) */
    }
    h5{
        margin-top:0.5em !important;
        max-width: 100% !important;
    }
    .dwcv{
        margin-top:15em !important;
    }
    .hero{
        margin-right:0px !important;
    }
    .marg{
        margin-left:0px !important;
    }
}

@media(max-width:485px) and (min-width:416px){
    .herosmall{
        margin-top:11em !important;
    }
    h1{
        font-size:3em !important; 
    }
    .socialrow{
        margin-top:0px !important;
    }
    .model{
        width:350px !important;
        top: 57% !important; /* Position Y halfway in */
    left: 50% !important; /* Position X halfway in */
    transform: translate(-50%,-50%) !important; /* Move it halfway back(x,y) */
    }
    h5{
        margin-top:0.5em !important;
        max-width: 100% !important;
    }
    .dwcv{
        margin-top:16em !important;
    }
    .hero{
        margin-right:0px !important;
    }
    .marg{
        margin-left:0px !important;
    }
}
@media (max-width:565px) and (min-width:486px){
    .herosmall{
        margin-top:11em !important;
    }
    h1{
        font-size:3em !important; 
    }
    .socialrow{
        margin-top:0px !important;
    }
    .model{
        width:400px !important;
        top: 52% !important; /* Position Y halfway in */
    left: 50% !important; /* Position X halfway in */
    transform: translate(-50%,-50%) !important; /* Move it halfway back(x,y) */
    }
    h5{
        max-width: 100% !important;
    }
    .dwcv{
        margin-top:18em !important;
    }
    .hero{
        margin-right:0px !important;
    }
    .marg{
        margin-left:0px !important;
    }
}

@media(max-width:650px) and (min-width:566px){
    .herosmall{
        margin-top:11em !important;
    }
    h1{
        font-size:3.5em !important; 
    }
    .socialrow{
        margin-top:0px !important;
    }
    .model{
        width:450px !important;
        top: 56% !important; /* Position Y halfway in */
    left: 50% !important; /* Position X halfway in */
    transform: translate(-50%,-50%) !important; /* Move it halfway back(x,y) */
    }
    h5{
        max-width: 90% !important;
    }
    .dwcv{
        margin-top:19em !important;
    }
    .hero{
        margin-right:0px !important;
    }
    .marg{
        margin-left:0px !important;
    }
}
@media (max-width:750px) and (min-width:651px){
    .herosmall{
        margin-top:12em !important;
    }
    h1{
        font-size:4em !important; 
    }
    .socialrow{
        margin-top:0px !important;
    }
    .model{
        width:500px !important;
        top: 62% !important; /* Position Y halfway in */
    left: 50% !important; /* Position X halfway in */
    transform: translate(-50%,-50%) !important; /* Move it halfway back(x,y) */
    }
    h5{
        max-width: 80% !important;
    }
    .dwcv{
        margin-top:21em !important;
    }
    .hero{
        margin-right:0px !important;
    }
    .marg{
        margin-left:0px !important;
    }
}
@media (max-width:900px) and (min-width:751px){
    .herosmall{
        margin-top:13em !important;
    }
    h1{
        font-size:4.5em !important; 
    }
    .socialrow{
        margin-top:0px !important;
    }
    .model{
        width:550px !important;
        top: 66% !important; /* Position Y halfway in */
    left: 50% !important; /* Position X halfway in */
    transform: translate(-50%,-50%) !important; /* Move it halfway back(x,y) */
    }
    h5{
        max-width: 70% !important;
    }
    .dwcv{
        margin-top:23em !important;
    }
    .hero{
        margin-right:0px !important;
    }
    .marg{
        margin-left:0px !important;
    }
}
@media(max-width:1200px) and (min-width:901px){
    h1{
        font-size:5em !important; 
    }
    .socialrow{
        margin-top:0px !important;
    }
    .model{
        width:600px !important;
        top: 73% !important; /* Position Y halfway in */
    left: 50% !important; /* Position X halfway in */
    transform: translate(-50%,-50%) !important; /* Move it halfway back(x,y) */
    }
    h5{
        max-width: 70% !important;
    }
    .dwcv{
        margin-top:25em !important;
    }
    .hero{
        margin-right:0px !important;
    }
    .marg{
        margin-left:0px !important;
    }
}
@media(max-width:1400px) and (min-width:1201px){
    .model{
        width:450px !important;
    }
    h5{
        max-width: 90% !important;
    }
}
@media(max-width:1500px) and (min-width:1201px){
.model{
    right:50px !important;
}
h1{
    font-size:4em !important; 
}
}
@media(max-width:1564px) and (min-width:1401px){
    .model{
        width:500px !important;
        
    }
    
}