@media(max-width:466px){
    .desimgbox{
        left:120px !important;
        z-index:1 !important;
        margin-top:10.5em !important; 
        width:105px !important;
    }
    .lapimgbox{
        left:180px !important;
        margin-top:18.5em !important;
        width:105px !important;
    }
    .rightboxx{
        background-image: linear-gradient(rgba(0, 0, 0, 0),60%,rgba(0, 0, 0, 0)) , url('/assets/images/main/desbackground.png') !important;
    }
    .textrow{
        margin-top:1em !important;
        margin-left:0em !important;
    }
    .desimg{
     width:200px !important;
     height:400px !important;
    }
    .lapimg{
     width:200px !important;
     height:450px !important;
    }
    .dots{
      width:200px !important;
      
    }
    h1{
      font-size:1.9em !important;
      
    }
    h5{
      margin-top:1em !important;
      margin-left:0em !important;
      font-size:1em !important;
      max-width:90%;
      opacity:1 !important;
      font-weight:700;
    }
    .button-5{
      margin-top:3em !important;
      margin-bottom:3em !important;
      margin-left:0em !important;
        font-size:1em !important;
    }
}


@media(max-width:550px) and (min-width:467px){
    .desimgbox{
        left:120px !important;
        z-index:1 !important;
        margin-top:10.5em !important; 
        width:105px !important;
    }
    .lapimgbox{
        left:180px !important;
        margin-top:18.5em !important;
        width:105px !important;
    }
    .rightboxx{
        background-image: linear-gradient(rgba(0, 0, 0, 0),60%,rgba(0, 0, 0, 0)) , url('/assets/images/main/desbackground.png') !important;
    }
    .textrow{
        margin-top:1em !important;
        margin-left:0em !important;
    }
    .desimg{
     width:200px !important;
     height:400px !important;
    }
    .lapimg{
     width:200px !important;
     height:450px !important;
    }
    .dots{
      width:200px !important;
      
    }
    h1{
      font-size:2em !important;
      
    }
    h5{
      margin-top:1em !important;
      margin-left:0em !important;
      font-size:1.1em !important;
      max-width:70%;
      opacity:1 !important;
      font-weight:700;
    }
    .button-5{
      margin-top:3em !important;
      margin-bottom:3em !important;
      margin-left:0em !important;
        font-size:1.1em !important;
    }
}

@media(max-width:768px) and (min-width:551px){
    .desimgbox{
        left:120px !important;
        z-index:1 !important;
        margin-top:10.5em !important; 
        width:105px !important;
    }
    .lapimgbox{
        left:180px !important;
        margin-top:18.5em !important;
        width:105px !important;
    }
    .rightboxx{
        background-image: linear-gradient(rgba(0, 0, 0, 0),60%,rgba(0, 0, 0, 0)) , url('/assets/images/main/desbackground.png') !important;
    }
    .textrow{
        margin-top:1em !important;
        margin-left:0em !important;
    }
    .desimg{
     width:200px !important;
     height:400px !important;
    }
    .lapimg{
     width:200px !important;
     height:450px !important;
    }
    .dots{
      width:200px !important;
      
    }
    h1{
      font-size:2.5em !important;
      
    }
    h5{
      margin-top:1em !important;
      margin-left:0em !important;
      font-size:1.2em !important;
      max-width:70%;
      opacity:1 !important;
      font-weight:700;
    }
    .button-5{
      margin-top:3em !important;
      margin-bottom:3em !important;
      margin-left:0em !important;
        font-size:1.1em !important;
    }
}
@media(max-width:839px) and (min-width:769px){
    .desimgbox{
        left:120px !important;
        z-index:1 !important;
        margin-top:10.5em !important; 
        width:105px !important;
    }
    .lapimgbox{
        left:180px !important;
        margin-top:18.5em !important;
        width:105px !important;
    }
    .rightbox{
       
    }
    .textrow{
        margin-top:1em !important;
        margin-left:0em !important;
    }
    .desimg{
     width:200px !important;
     height:400px !important;
    }
    .lapimg{
     width:200px !important;
     height:450px !important;
    }
    .dots{
      width:200px !important;
      
    }
    h1{
      font-size:2.5em !important;
      
    }
    h5{
      margin-top:2.5em !important;
      margin-left:12em !important;
      font-size:1.2em !important;
      max-width:100%;
    }
    .button-5{
      margin-top:4em !important;
      margin-bottom:5em !important;
      margin-left:14em !important;
        font-size:1.1em !important;
    }
}
@media(max-width:1050px) and (min-width:851px){
    .desimgbox{
        left:150px !important;
        z-index:1 !important;
        margin-top:8.5em !important; 
        width:120px !important;
    }
    .lapimgbox{
        left:210px !important;
        margin-top:18.5em !important;
        width:120px !important;
    }
    .rightbox{
       
    }
    .textrow{
        margin-top:3em !important;
        margin-left:0em !important;
    }
    .desimg{
     width:200px !important;
     height:400px !important;
    }
    .lapimg{
     width:200px !important;
     height:450px !important;
    }
    .dots{
      width:200px !important;
      
    }
    h1{
      font-size:2.5em !important;
      
    }
    h5{
      margin-top:2.5em !important;
      margin-left:12em !important;
      font-size:1.4em !important;
      max-width:100%;
    }
    .button-5{
      margin-top:4em !important;
      margin-bottom:5em !important;
      margin-left:14em !important;
        font-size:1.1em !important;
    }
}
@media(max-width:1200px) and (min-width:1051px){
    .rightbox{
       
      }
      .textrow{
          margin-top:3em !important;
          margin-left:0em !important;
      }
      .desimg{
       width:250px !important;
       height:400px !important;
      }
      .lapimg{
       width:230px !important;
       height:450px !important;
      }
      .dots{
        width:200px !important;
        
      }
      h1{
        font-size:3.1em !important;
        
      }
      h5{
        margin-top:3em !important;
        margin-left:14em !important;
        font-size:1.4em !important;
        max-width:100%;
      }
      .button-5{
        margin-top:4em !important;
        margin-bottom:5em !important;
        margin-left:16em !important;
          font-size:1.2em !important;
      }
}
@media(max-width:1400px) and (min-width:1201px){
    .rightbox{
      height:50vh !important;
    }
    .textrow{
        margin-top:5em !important;
        margin-left:8em !important;
    }
    .desimg{
     width:250px !important;
     height:400px !important;
    }
    .lapimg{
     width:230px !important;
     height:450px !important;
    }
    .dots{
      width:200px !important;
      
    }
    h1{
      font-size:2.5em !important;
    }
    h5{
      font-size:0.9em !important;
    }
    .button-5{
        font-size:0.9em !important;
    }
}
@media(max-width:1500px)and (min-width:1401px){
    .rightbox{
        height:50vh !important;
      }
      .textrow{
          margin-top:5em !important;
          margin-left:8em !important;
      }
      .desimg{
       width:250px !important;
       height:400px !important;
      }
      .lapimg{
       width:230px !important;
       height:450px !important;
      }
      .dots{
        width:200px !important;
        
      }
      h1{
        font-size:2.5em !important;
      }
      h5{
        font-size:0.9em !important;
      }
      .button-5{
          font-size:0.9em !important;
      }
}
@media (max-width:1600px) and (min-width:1501px){
    .textrow{
        margin-left:8em !important;
        margin-top:5em !important;
    }
    .desimg{
     width:300px !important;
    }
    .lapimg{
     width:300px !important;
    }
    .dots{
      width:200px !important;
    }
    h1{
      font-size:2.5em !important;
    }
    h5{
      font-size:1em !important;
    }
}