<div class="imgg" style="margin-top: 20em;">
    <div class="row d-flex justify-content-center">
      <div style=" margin-top:9em;" class="maindiv col-12 d-flex justify-content-center align-items-center">
        <h1 *ngIf="innerWidth>800" class="main anton text-white" style="text-wrap:balance;font-size:5em;">Professional And Skillfull Working<span style="font-family: 'Kaushan Script', cursive;font-size:0.6em;color:violet;margin-left:0.2em;">24</span></h1>
        <h1 *ngIf="innerWidth<=800 && innerWidth>385" class="main anton text-white" style="text-wrap:balance;font-size:5em;">Professional And<br/> Skillfull Working<span style="font-family: 'Kaushan Script', cursive;font-size:0.6em;color:violet;margin-left:0.2em;">24</span></h1>
        <h1 *ngIf="innerWidth<=385" class="main anton text-white text-center" style="font-size:5em;"><span style="font-family: 'Kaushan Script', cursive;font-size:0.8em;color:violet;margin-left:0.2em;font-weight:700;">24</span><br/>Professional <br/>And<br/> Skillfull Working</h1>
      </div>
    
      <div class="langrow col-xl-5 col-sm-7 col-8 tech d-flex justify-content-center" style="margin-top:8em;">
        <div class=" row flex-nowrap overflow-auto" >

          <div class="col-3">
           <div class="row">
            <div class="col-12">
              <i style="" class="bi bi-filetype-html"></i>
            </div>
            <div class="col-12">
              <h5 class="rate" style="font-size:0.9em;color:#F5A0FD;">Very Good</h5>
            </div>
           </div>
          </div>

          <div class="col-3">
            <div class="row">
             <div class="col-12">
              <i class="bi bi-filetype-sass"></i>
             </div>
             <div class="col-12">
              <h5 class="rate" style="font-size:0.9em;color:#F5A0FD;margin-left:10px;">Excellent</h5>
             </div>
            </div>
           </div>
           <div class="col-3">
            <div class="row">
             <div class="col-12">
              <i class="bi bi-bootstrap-fill"></i>
             </div>
             <div class="col-12">
              <h5 class="rate" style="font-size:0.9em;color:#F5A0FD;margin-left:10px;">Excellent</h5>
             </div>
            </div>
           </div>
           <div class="col-3">
            <div class="row">
             <div class="col-12">
              <i class="bi bi-filetype-js"></i>
             </div>
             <div class="col-12">
              <h5 class="rate" style="font-size:0.9em;color:#F5A0FD;margin-left:10px;">Excellent</h5>
             </div>
            </div>
           </div>
           <div class="col-3">
            <div class="row">
             <div class="col-12">
              <i class="bi bi-filetype-js"></i>
             </div>
             <div class="col-12">
              <h5 class="rate" style="font-size:0.9em;color:#F5A0FD;margin-left:10px;">Excellent</h5>
             </div>
            </div>
           </div>
        </div>
      </div>
      <div class="col-12">
        <h5 class="mytech text-white" style="margin-left:29%;margin-top:2em;opacity: 0.7;">My <span style="color:violet;font-size:1.2em;">T</span>ech.</h5>
      </div>
    </div>
   </div>